#ImagesCarousel.col-12.col-sm-12.col-md-12.col-lg-12
  .row.mt-3
    .col-12.col-sm-12.col-md-12.col.lg-12
      = image_tag 'especias.jpg', alt: '', height: '', width: '100%', class: 'img-fluid image-height'
      .card.bg-white.fsz-1.pl-3
        Read, Learn, Share
      .card.text-white.bg-dark.fsz-2.pl-3
        Get daily how-tos, stories & updates with the latest news.
      .card-text.bg-white.text-right.fsz-3.gray-color.justify-content-end.rounded
        photo by Clare Barboza
      #InfoButton.col.move-top
        .row.d-none.d-md-flex.d-lg-flex.px-md-0.px-lg-0.bg-blue-light.text-info
          .col-md-3.col-lg-3.border-right.border-left.height.hover
            %h5.pl-2.pt-lg-4.pt-md-1 Tastemarkers
            %h6.pl-2.d-none.d-lg-flex Feast your eyes & get recipes!
          .col-md-3.col-lg-3.border-right.height.hover
            %h5.pl-2.pt-lg-4.pt-md-1 Blog
            %h6.pl-2.d-none.d-lg-flex News, how-tos, stories, and more
          .col-md-3.col-lg-3.border-right.height.hover
            %h5.pl-2.pt-lg-4.pt-md-1 The A-List
            %h6.pl-2.d-none.d-lg-flex Handpicked, absolute favorites
          .col-md-3.col-lg-3.border-right.height.hover
            %h5.pl-2.pt-lg-4.pt-md-1 Contribute
            %h6.pl-2.d-none.d-lg-flex We want to hear from you!