#ImagesCarousel.col-12.col-sm-12
  .row.mt-3
    .col-12.col-sm-12
      = image_tag 'especias.jpg', alt: '', height: '', width: '100%', class: 'img-fluid'
      .card.bg-white.fsz-1
        &nbsp;&nbsp; Read, Learn, Share
      .card.text-white.bg-dark.fsz-2
        &nbsp;&nbsp; Get daily how-tos, stories & updates with the latest news.
      .card-text.bg-white.text-right.fsz-3.gray-color
        * photo by Clare Barboza &nbsp

