#Footer.col-12.col-sm-12.col-md-12.col-lg-12
  .row.text-info.ml-2.mr-2.pt-4.border-top
    .col-7.col-sm-7.col-md-7.col-lg-7.d-inline.fs-footer
      %a.fs-footer(href="#") Privacy Policy
      %span.gray-color &nbsp; | &nbsp;
      %a.fs-footer(href="#") Terms of Use 
      %span.gray-color &nbsp; | &nbsp;
      %a.fs-footer(href="#") Contact
    .col-5.col-sm-5.col-md-5.col-lg-5.text-right
      %a.gray-color{:href => "#"} 
        %i.fab.fab.fa-twitter.fs-footer-icon
      %a.gray-color{:href => "#"} 
        %i.fab.fa-facebook-f.fs-footer-icon
      %a.gray-color{:href => "#"} 
        %i.fab.fab.fa-slack.fs-footer-icon