#FormSignUp.col-12.col-sm-12.col-md-12.col-lg-12.mb-5.no-line-height
  .row.dotted-b.dotted-t.pt-2.pb-3.ml-0.mr-0.align-items-center
    .col-2.col-sm-2.col-md-1.col-lg-1.no-pl-r-md
      %span
        %i.fas.fa-envelope.f-a-fs
    .col-9.col-sm-9.col-md-5.col-lg-5.no-pl-r-md
      .card-text.fs-md-form
        Sign up for our newsletter to receive a handpicked selection of the best stories, recipes, and news, delivered weekly to your inbox.
    .col-7.col-sm-7.col-md-4.col-lg-4.no-pl-r-md
      .form-group.mb-0
        %input.form-control{:placeholder => "Email", :type => "email"}/ 
    .col-4.col-sm-4.col-md-1.col-lg-2.no-pl-r-md         
      %button.btn{:type => "submit"} Subscribe