#Gallery.col-12.col-sm-12.col-md-12.col-lg-12
  #Articles.row.justify-content-center

    #Article-1.col-10.col-sm-6.col-md-3.col-lg-3.mb-4.no-pl-x
      .col-12.col-sm-12.col-md-12.col-lg-12.text-left.p-l-3
        .card-img.col-12.col-sm-12.col-md-12.col-lg-12.no-pl-x
          = image_tag 'articulo-1.jpg', alt: '', height: '', width: '95%', class: 'img-fluid ajust-height img-thumbnail rounded-0'
        .card-body.col-12.col-sm-12.no-pl-x
          %h5.card-title.text-info 2012's Best Summer Cookbooks
          %p.card-text.fs-gallery With the best of the season comming from "orchads, farms and gardens" NPR has put together an impressive collection of 10 summer cookbooks.
          %p.card-text.gray-color.d-inline.fs-gallery May 23, 2012 /
          %a.text-info.d-inline.dotted-b.fs-gallery{:href => "#"} Read >>

    #Article-2.col-10.col-sm-6.col-md-3.col-lg-3.mb-4.no-pl-x
      .col-12.col-sm-12.col-md-12.col-lg-12.text-left.p-l-3
        .card-img.col-12.col-sm-12.col-md-12.col-lg-12.no-pl-x
          = image_tag 'articulo-2.jpg', alt: '', height: '', width: '95%', class: 'img-fluid ajust-height img-thumbnail rounded-0'
        .card-body.col-12.col-sm-12.col-md-12.col-lg-12.no-pl-x
          %h5.card-title.text-info How to Make Vegetable Chips
          %p.card-text.fs-gallery About a month ago. I ate almost an entire box of kale chips. My brother and I were visiting our cousin in Broklyn. and before a very thoughtfully prepared vegan...
          %p.card-text.gray-color.d-inline.fs-gallery May 17, 2012 /
          %a.text-info.d-inline.dotted-b.fs-gallery{:href => "#"} Read >>

    #Articulo-3.col-10.col-sm-6.col-md-3.col-lg-3.mb-4.no-pl-x
      .col-12.col-sm-12.col-md-12.col-lg-12.text-left.p-l-3
        .card-img.col-12.col-sm-12.col-md-12.col-lg-12.no-pl-x
          = image_tag 'articulo-3.jpg', alt: '', height: '', width: '95%', class: 'img-fluid ajust-height img-thumbnail rounded-0'
        .card-body.col-12.col-sm-12.col-md-12.col-lg-12.no-pl-x
          %h5.card-title.text-info Join us on Pinterest!
          %p.card-text.fs-gallery If I could curate a cookbook for you, this would be it.
          %p.card-text.gray-color.d-inline.fs-gallery May 16, 2012 /
          %a.text-info.d-inline.dotted-b.fs-gallery{:href => "#"} Read >>

    #Articulo-4.col-10.col-sm-6.col-md-3.col-lg-3.mb-4.no-pl-x
      .col-12.col-sm-12.col-md-12.col-lg-12.text-left.p-l-3
        .card-img.col-12.col-sm-12.col-md-12.col-lg-12.no-pl-x
          = image_tag 'articulo-4.jpeg', alt: '', height: '', width: '95%', class: 'img-fluid ajust-height img-thumbnail rounded-0'
        .card-body.col-12.col-sm-12.col-md-12.col-lg-12.no-pl-x
          %h5.card-title.text-info Recipes froma Sunday Supper
          %p.card-text.fs-gallery I could not figure out what to do with the delectable slices of Pear Cake that I brought home from this wonderfull Sunday supper - eat the slowly, a little bit at...
          %p.card-text.gray-color.d-inline.fs-gallery May 15, 2012 /
          %a.text-info.d-inline.dotted-b.fs-gallery{:href => "#"} Read >>