#SideBar-Twitter.col-lg-2.d-none.d-lg-block
  .row
    .col-lg-12
      %h6.dotted-b.pb-lg-1.mb-4.side-bar-position LATEST TWEET
      %a.border.text-info.btn.mb-lg-5.side-bar-position(href="#")
        %i.fab.fab.fa-twitter.fw.d-inline
        %h6.d-inline.font-size-sidebartwitter Join the Conversation
      %h6.dotted-b.pb-lg-1.side-bar-position  LET'S BE FRIENDS!
      %p.font-size-sidebartwitter.side-bar-position For weekly finds, community recommendations, and more, like us on Facebook.
      %a.border.text-info.btn.side-bar-position(href="#")
        %i.fab.fa-facebook-f.fW.d-inline.py.lg-2
        %h6.d-inline.font-size-sidebartwitter Join the Community
