.logo-circular{
  width: 120px;
  height: 120px;
  background: #111;
  border: 3px solid #17a2b8;
}

a{
  color: inherit;
  font-size: 17px;
}

.fsz-1{
  border-bottom: 6px;
  opacity: 0.9;
  font-size: 2em;
  position: relative;
  top: -60px;

}

.fsz-2{
  font-size: 1.1em;
  position: relative;
  top: -60px;

}
.fsz-3{
  font-size: 12px;
  position: relative;
  top: -45px;
}

i{
  color: #111;
}
.card{
  border-radius: 0px;
}

.gallery{
  margin-top: 10px;
}

.gray-color{
  color: gainsboro;
}

.ajust-height{
  height: 200px;
}

.dotted-b{
  border-bottom: 1px dashed gainsboro;
  
}
.dotted-t{
  border-top: 1px dashed gainsboro;
  
}

.fs-footer{
  font-size: 12px;
}

.fs-footer-icon{
  font-size: 1.7em;
  padding-right: 5px;
}


