.logo-circular{
  width: 120px;
  height: 120px;
  background: #111
  
}
a{
  color: inherit;
  font-size: 12px;
}

.fsz-1{
  border-bottom: 6px;
  opacity: 0.9;
  font-size: 2em;
  position: relative;
  top: -82px;
}

.fsz-2{
  font-size: 1.5em;
  position: relative;
  top: -82px;
}
.fsz-3{
  font-size: 14px;
  position: relative;
  top: -60px;
  color: rgba(140, 142, 140, 0.263);
}
i{
  color: #111;
}
.card{
  border-radius: 0px;
}

.gallery{
  margin-top: 10px;
}

.gray-color{
  color: rgba(140, 142, 140, 0.263);
}